body {
    background-color: #3a8553;      
}

.FormLogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 3px solid #333;
    background-color: #f9f9f9;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 15px;
}

.Tombol {
    display: inline-block;
    padding: 5px 10px;
    background-color: #3a8553;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.Data {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Data table {
    border-collapse: collapse;
    width: 80%;
    background-color: #f9f9f9;
    border: 2px solid #333;
}

.Data th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

.Data td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

.Data tr:hover {
    background-color: #e6f2ff;
}
